.navbar{
    width: 100%;
    background-color: white;
    height: 50px;
    position: sticky;
    top: 0;
    /* Want to put items later */
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.navLeft, .navRight{
    flex: 3;
    
}

.navCenter{
    flex: 6;
}